In [1]:
import pandas as pd

In [3]:
pd.read_csv("../data/raw/data.csv")

       matnr       ersda matkl                 mfrpn
0    7407536  2006-01-18  A1.0          377A2048-407
1    7301607  2006-01-18  A1.0          351A2807-401
2    6243026  2006-01-18  A1.0          253A3002-401
3    6262890  2006-01-18  A1.0          345A3259-401
4    7449736  2006-01-18  A1.0          311A7022-412
..       ...         ...   ...                   ...
995  4961571  2006-01-18  A1.4  110P1-1320-01-01 PC2
996  2341243  2006-01-18  A1.4           7312012-559
997  4798585  2006-01-18  A1.4         170-67070-431
998  7807923  2006-01-18  A1.4         190-28015-405
999  7825621  2006-01-18  A1.4         170-34250-401

[1000 rows x 4 columns]